[Unit]
Description=FUB scheduled timer for {{PROFILE_NAME}}
Documentation=man:fub(1)
PartOf=fub-{{PROFILE_NAME}}.service

[Timer]
OnCalendar={{SCHEDULE}}
Persistent=true
AccuracySec=1min
RandomizedDelaySec={{RANDOMIZED_DELAY}}

[Install]
WantedBy=timers.target